
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap');

:root{
  --theme-color:#210632;
}

*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  font-family: 'outfit';
  scroll-behavior:smooth ;
}
html{
  font-size: 62.5%;
}
body{
  min-width: 100vh;
font-size :1.6rem; ;
}
a{
  text-decoration: none;
  
 } .app{
  width:80%;
  margin:auto;
 

  }
